{{define "content"}}
<div id="home-page-container">
	<div class="container jumbotron text-center">
		<div class="row">
			<div class="col-12 col-lg-3 text-center">
				<img class="img-fluid m-auto" src="/static/images/about.svg" alt="about" />
			</div>
			<div class="col-12 col-lg-9 pt-5">
				<h1>
					Go App
				</h1>
				<div class="host-info mt-4">
					<p class="mb-0">
					<p>
						This app is for testing container platform.
					</p>
				</div>
				<h2>
					Additional routes
				</h2>
				<table>
					<tr>
						<td>
							<a href="/system/health"><span class="badge badge-success">/system/health </span></a>
							<a href="/system/metrics"><span class="badge badge-success">/system/metrics</span></a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="/api/version"><span class="badge badge-success">/api/version</span></a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="/api/status/403"><span class="badge badge-success">/api/status/403</span></a>
							<a href="/api/status/404"><span class="badge badge-success">/api/status/404</span></a>
							<a href="/api/status/405"><span class="badge badge-success">/api/status/405</span></a>
							<a href="/api/status/500"><span class="badge badge-success">/api/status/500</span></a>
							<a href="/api/status/501"><span class="badge badge-success">/api/status/501</span></a>
							<a href="/api/status/502"><span class="badge badge-success">/api/status/502</span></a>
							<a href="/api/status/503"><span class="badge badge-success">/api/status/503</span></a>
							<a href="/api/status/504"><span class="badge badge-success">/api/status/504</span></a>
							<a href="/api/status/505"><span class="badge badge-success">/api/status/505</span></a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
{{end}}
