{{define "content"}}
<div class="container">
  <div class="row my-4">
    <div class="col-12 col-sm-5 mb-4 m-auto text-center">
      <div class="card">
        <div class="card-header">
          Go App
        </div>
        <div class="card-body">
          <p class="card-text">This is a sample application created for testing containers.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-4">
      <div class="col-12 col-sm-5 mb-4 m-auto text-center">
        <div class="card">
          <div class="card-header">
            Additional Routes available
          </div>
          <div class="card-body">
            <span class="badge badge-success">/health </span>
            <span class="badge badge-success">/user/{Name}</span>
            <span class="badge badge-success">/api</span>
          </div>
        </div>
      </div>
    </div>
    {{end}}