{{define "content"}}
<div class="container" id="about-page-container">
	<div class="row my-4">

		<div class="col-12 col-lg-8 text-center mb-3 order-2 order-lg-1">
			<div class="card">
				<div class="card-header">Additional Routes available</div>
				<div class="card-body">
					<span class="badge badge-success">/health </span>
					<span class="badge badge-success">/user/{Name}</span>
					<span class="badge badge-success">/api</span>
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-4 order-1 order-lg-2">
			<div class="jumbotron">
				<h4 class="text-center">About</h4>
				<p>
					This is a sample application created for testing containers.
				</p>
			</div>
		</div>
	</div>
</div>
{{end}}
